@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;600&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    background: linear-gradient(45deg, #00ffcc, #3366ff);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: #f2f2f2;
    min-width: 400px;
    min-height: 400px;
    padding: 4.5rem;
    box-shadow: 40px -16px #66ffff;
    border-radius: 8px;
}

main.container h2{
    font-weight: 600;
    margin-bottom: 3rem;
    position: relative;
    text-align: center;
    font-size: 2.5rem;
}

main h2::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 30px;
    bottom: 11px;
    left: 1;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

main.container h2{
    background: linear-gradient(to left, #ff66cc, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-top: -15px;
}

main.container h2:hover{
    background: linear-gradient(to left, #0000ff,#ff66cc );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-top: -15px;
}

main.container label{
    font-size: 2rem;
}

main.container textarea, input,select{
    border: 2px;
    border-radius: 10px;
    border-style: solid;
    outline: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

main.container textarea{
    resize: none;
}

main.container input[type="submit"]{
    width: 6.5rem;
    height: 3rem;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: -5px;
    text-align: center;
    align-items: center;
    margin-left: 12rem;
}

main.container input[type="submit"]:hover{
    background: linear-gradient(45deg, #3366ff, #00ffcc);
}

main.container a{
    font-size: 1.3rem;
    margin-left:9rem;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

@media (max-width: 680px) {
    main.container {
        min-width:100vw;
        min-height:100vh;
        padding: 1.3rem;
        
    }

    main.container h2{
        margin-bottom: 1.3rem;
        font-size: 1.3rem;
    }

    main h2::before {
        bottom: 1px;
    }

    main.container label{
        font-size: 1.8rem;
    }

    main.container input,select{
        font-size: 1.1rem;
        margin-bottom: 4px;
    }

    main.container textarea{
        font-size: 0.9rem;
    }

    main.container input[type="submit"]{
        width: 10rem;
        height: 5   rem;
        font-size: 1.8rem;
        margin-top: 10px;
        margin-bottom: -5px;
        margin-left: 4.5rem;
        font-weight: 600;
    }

    main.container a{
        font-size: 1.2rem;
        margin-left:2rem;
    }
}